body{
    background-color: #ECEEF1;
    font-family: Arial, Helvetica, sans-serif;

}

/* Header */

.nav-bar{
padding: 10px 30px 10px 30px;
height: 5vw;
}
.header-container{
    display: flex;
    float: right;
}
.left-header{
    color: #505050;
    font-size: 12px;
    margin-right: 10px;
    text-align: right;
}
.left-header p{
    margin: 0;
}
a{
    color: #0077C5;
    text-decoration: none;
}
i{
    color: white;
    font-size: 12px;

}
.nav-bar button{
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    padding: 0 20px;
    color: white;
    cursor: pointer;
    font-size: 1.125em;
    font-weight: normal;
    height: 34px;
}

/* Form */


.box{
    width: 26vw;
    background-color:white;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    display: inline-block;
}
h3{
    color: #4C4C4C;
    font-size: 1.6vw;
    position: relative;

}
.title{
    display: inline-block;
    align-content: center;
}

#sub-text{
    font-size: 1vw;
}

.form-block{
    margin-top: 35px;
}

.link{
    color: #0077C5;
    text-decoration: none;
    cursor: pointer;
}
.mail{
    float: left;
    position: relative;
    left: 2vw;
    bottom: 1vw;
    color: #4C4C4C;
    font-size: 1vw;

}
.email{
    width: 22vw;
    height: 3vh;
}
#bottom-txt{
    font-size: 12px;
    color: #4C4C4C;
    position: relative;
    left: -27px;
}
.terms-txt{
    font-size: 12px;
    position: relative;
    color: #757575;
    display: flex;
    margin-top: 45px;
    width:20vw;
}
.captcha-txt{
    text-align: center;
    color: #4C4C4C;
    left: 39px;
    display: block;
    font-size: 10px;
    background-color: #ECEEF1;
    height: 3vw;
}
#account{
    background-color: #0077C5;
    border-color: #0077C5;
    color: white;
    border: none;
    height: 6vh;
    width: 20vw;
    margin-top: 25px;
}
